
.blogoverlay{
  background-color: whitesmoke; 
}

.sidebar .categories-widget ul li a span,
.sidebar .search-form .btn,
.sidebar .search-form .btn:focus,
.sidebar .categories-widget ul li a:hover,
.sidebar .tags-widget ul li a:hover ,
.comments-form .btn-default
 {
  background:#9c27b0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}


.comments-form .btn-default:hover
{
  background: #9c27b0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.sidebar .archives-widget ul li a:hover,
.sidebar .meta-widget ul li a:hover,
.blogs .blog-box .blog-details .meta li a:hover,
.sidebar .recent-posts-widget .recent-post-description h3 a:hover
{
  color: #4d90fe;
}

/* blog common for color 1 end */


a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.page-head {
  position: relative;
  padding: 150px 0;
 }
 .pageHeadOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.70);
 }


.blogoverlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.all_blogs {
  padding: 100px 0px 83px;

}
.single-blog {
  padding: 100px 0px 100px;
}

.blog-details .btn{
  color: #333;
  text-decoration: none;
  padding: 0px;
  font-size: 16px;
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .3s ease;
  transition:all .3s ease;
}
.blog-details .btn:hover{
  color: #083180;
}
.blog-details .btn:focus{
  outline: 0px;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
}
.blog-details .btn:hover i{
  color: #083180;
}
.blog-details .btn i{
  opacity: 0;
  font-size: 14px;
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .3s ease;
  transition:all .3s ease;
}
.blog-details .btn:hover i{
  opacity: 1;
  padding-left: 7px;
}

 .single-blog p {
  line-height:25px;
  font-size:14px
 }

 blockquote p {
  font-style:italic;
  margin:0!important
 }
blockquote {
  margin: 26px 40px;
  border-left-color: #bf095d;
  background: #f3f3f3;
}
blockquote {
  padding: 10px 20px;
  margin: 25px 0 22px;
  font-size: 17.5px;
  border-left: 5px solid #ddd;
}
 .comments-container {
  padding:28px 0 20px
 }
 .comments-container h3 {
  font-size:20px;
  margin:0 0 20px
 }
 .comments-container .comments-list {
  display:block
 }
 .comments-container .comments-list li {
  background:#f3f3f3;
  position:relative;
  padding-left:110px;
  padding-right:15px;
  margin-bottom:15px;
  min-height:120px
 }
 .comments-container .comments-list li .avatar {
  width:80px;
  height:80px;
  position:absolute;
  top:20px;
  left:15px;
  border-radius:50%;
  overflow:hidden
 }
 .comments-container .comments-list li .comment {
  padding:20px 0
 }
 .comments-container .comments-list li .comment h4 {
  margin:0 0 20px;
  font-weight:600;
  font-size: 20px;
 }
 .comments-container .comments-list li .comment h4 span {
  font-size:13px;
  margin-left:15px;
  font-style:italic;
  font-weight:400
 }
 .comments-container .comments-list li .comment p {
  margin:0
 }
 .comments-container .comments-list li ul.chiled {
  border-top:2px dashed #e2e2e2
 }
 .comments-form h3 {
  font-size:20px;
  margin:0 0 20px
 }
 .comments-form .form-control {
  height:50px;
  padding:10px 15px;
  background:#f3f3f3;
  border:none;
  border-radius:0;
  color:#2a3b71;
  letter-spacing:2px;
  font-weight:300;
  box-shadow:none;
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .3s ease;
  transition:all .3s ease
 }
 .comments-form .form-control:focus {
  box-shadow:0 0 5px rgba(0,0,0,.18)
 }
 .comments-form textarea.form-control {
  height:auto
 }
 .comments-form input::-webkit-input-placeholder {
  color:#8c8c8c!important
 }
 .comments-form input::-moz-placeholder {
  color:#8c8c8c!important
 }
 .comments-form input:-ms-input-placeholder {
  color:#8c8c8c!important
 }
 .comments-form input:-moz-placeholder {
  color:#8c8c8c!important
 }
 .comments-form textarea::-webkit-input-placeholder {
  color:#8c8c8c!important
 }
 .comments-form textarea::-moz-placeholder {
  color:#8c8c8c!important
 }
 .comments-form textarea:-ms-input-placeholder {
  color:#8c8c8c!important
 }
 .comments-form textarea:-moz-placeholder {
  color:#8c8c8c!important
 }
 .comments-form .my_btn {
 border: 0px;
 }
 .sidebar .search-form {
  max-width:500px;
  margin:0 auto;
  position:relative
 }
 .sidebar .search-form input {
  height: 50px;
  border-radius: 0px;
  border: 1px solid #8c8c8c;
}
.sidebar .search-form input:focus{
  outline: 0px;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #8c8c8c;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
}
 .sidebar .search-form .btn {
  border-radius: 0px 5px 5px 0px;
  color:#fff;
  border-color:#8c8c8c;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  min-width:auto
 }
 .sidebar .search-form .btn i{
   color: #fff;
 }
 .sidebar .search-form input::-webkit-input-placeholder {
  color:#8c8c8c!important
 }
 .sidebar .search-form input::-moz-placeholder {
  color:#8c8c8c!important
 }
 .sidebar .search-form input:-ms-input-placeholder {
  color:#8c8c8c!important
 }
 .sidebar .search-form input:-moz-placeholder {

  color:#8c8c8c!important
 }
 .sidebar .sidebar-widget {
  padding:20px 0px 0px;
 }
 .sidebar .sidebar-widget h4 {
  font-size: 24px;
  margin: 0;
  padding: 0 0 14px;
  font-weight: 600;
  margin-top: 18px;
}
.recent-posts-widget.sidebar-widget {
  margin-top: 0px;
  padding-top: 1px;
}
.recent-posts-widget.sidebar-widget h4 {
  margin-bottom: -2px;
}
 .sidebar .categories-widget ul li {
  padding:3px 0
 }
 .sidebar .categories-widget ul li a {
  padding:10px;
  background:#f3f3f3;
  display:block;
  color:#bf095d;
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .3s ease;
  transition:all .3s ease
 }
 .sidebar .categories-widget ul li a:hover {
  text-decoration:none;
  color:#fff
 }
 .sidebar .categories-widget ul li a span {
  float:right;
  padding:5px;
  border-radius:50%;
  color:#fff;
  font-size:10px;
  height:25px;
  width:25px;
  margin-top:-1.5px;
  text-align:center;
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .3s ease;
  transition:all .3s ease
 }
 .sidebar .categories-widget ul li a:hover span {
  background:#fff!important;
  color:#bf095d;
 }
 .sidebar .recent-posts-widget ul li {
  display:table;
  margin-bottom:20px
 }
 .sidebar .recent-posts-widget .recent-post-img {
  float:left;
  width:80px;
  height:80px
 }
 .sidebar .recent-posts-widget .recent-post-description {
  display:table-cell;
  padding-left:15px;
  text-align:left;
  vertical-align:middle
 }
 .sidebar .recent-posts-widget .recent-post-description h3 {
  font-size:15px;
  margin:0
 }
 .sidebar .recent-posts-widget .recent-post-description h3 a {
  color:#bf095d;
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .3s ease;
  transition:all .3s ease
 }
 .sidebar .archives-widget ul li a,.sidebar .meta-widget ul li a {
  color:#bf095d;
  padding:5px 0;
  display:block;
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .3s ease;
  transition:all .3s ease
 }

 .sidebar .tags-widget ul li {
  display:inline-block;
  line-height:50px
 }
 .sidebar .tags-widget ul li a {
  background: #ddd;
  color: #333;
  font-size: 14px;
  line-height: 100%;
  margin: 3px;
  padding: 13px 20px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
 .sidebar .tags-widget ul li a:hover {
  color: #fff;
 }
 .page-head{
  background: url(../images/blog/banner1.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

 .page-head h2 {
  font-size:50px;
  margin:0;
  font-weight:600;
  color:#fff;
  text-transform:uppercase;
  font-family: 'Josefin Sans', sans-serif;
 }
 .page-head .breadcrumb {
  background:0 0;
  padding:0;
  text-align: center;
  display: block;
  margin-bottom: 0px;
 }
 .page-head .breadcrumb li {
  display: inline-block;
}
.page-head .breadcrumb li span{
  padding: 0px 5px;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
  transition: all linear .3s;
}
.page-head .breadcrumb,.page-head .breadcrumb a {
 color:#fff;
 -webkit-transition: all linear .3s;
 -moz-transition: all linear .3s;
 -ms-transition: all linear .3s;
 -o-transition: all linear .3s;
 transition: all linear .3s;
}
.page-head .breadcrumb li.active a,
.page-head .breadcrumb li.active span
{
  color: #ddd;
}

 .page-head .breadcrumb a:hover {
  text-decoration:none;
  color: #ddd;
 }
 .page-head .breadcrumb>li+li:before {
  color:#fff
 }
 .pagination {
  margin: 23px 0 20px;
  display: block;
  text-align: center;
}
.pagination li{
  display: inline-block;
}
 .pagination>li>a,.pagination>li>span {
  padding:8px 15px;
  color: #333;
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .3s ease;
  transition:all .3s ease
 }
 .pagination>li>a{
   font-weight: 600;
 }
 .pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover,.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover {
  color:#fff;
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .3s ease;
  transition:all .3s ease;
  border-color:#ddd;
  background: #ddd;
  color: #333;
 }
 .pagination>li:first-child>a,.pagination>li:first-child>span {
  border-top-left-radius:6px;
  border-bottom-left-radius:6px;
  padding:8px 20px
 }
 .pagination>li:last-child>a,.pagination>li:last-child>span {
  border-top-right-radius:6px;
  border-bottom-right-radius:6px;
  padding:8px 20px
 }
 .blog-images{
   overflow: hidden;
   position: relative;
 }
 .blog-images .box{
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  padding: 5px 20px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0px 0px 6px 0px #0003;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
  transition: all linear .3s;
}
.blog_box{
  margin-bottom: 30px;
}
.archives-widget.sidebar-widget {
  padding: 1px 0px 0px;
}
.archives-widget.sidebar-widget h4 {
  padding-bottom: 3px;
}
.meta-widget.sidebar-widget {
  padding-top: 0px;
}
.meta-widget.sidebar-widget h4 {
  padding-bottom: 2px;
  margin-top: 30px;
}
.tags-widget.sidebar-widget {
  padding: 0px;
}
.tags-widget.sidebar-widget h4 {
  padding: 7px 0px 5px;
}
.blogs .blog-box .blog-details .meta {
  margin: 0 0 20px;
 }
 .blogs .blog-box .blog-details .meta li {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
}
 .blogs .blog-box .blog-details .meta li:first-child {
  padding-left:0
 }
 .blogs .blog-box .blog-details .meta li a {
  font-size:14px;
  color:#a4a4a4;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
 }
 .blogs .blog-box .blog-details .meta li:after {
  content: '|';
  position: absolute;
  right: -2.5px;
  color: #a4a4a4;
  top: 0px;
 }
 .blogs .blog-box .blog-details .meta li:last-child:after {
  display:none
 }
 .single-blog .blog-box h3 {
  color: #222;
  font-size: 26px;
  display: block;
  padding: 29px 0px 9px;
}
.single-blog .blog-box .comments-container h3{
  font-size: 24px;
  font-weight: 600;
}